{% extends "home.html" %}

{% block title %}Contact | The Critic{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% block content %}
	<p class="lead">This project was developped by
    <a href="https://www.linkedin.com/in/peamelchy">Alix Melchy</a>
    at the awesome
    <a href="http://www.zipfianacademy.com">Zipfian Academy</a>.
    <a href="https://twitter.com/datamusing"> Sudeep Das </a>
    and <a href="http://os-bd.com">Bjorn Oswald</a> provided
    valuable advice.
  </p> 
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}