{% extends "home.html" %}

{% block title %}Info | The Critic{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% block content %}
	<h1 class="cover-heading">Who is The Critic?</h1>
    <p class="lead">The Critic gathers his information from
      reviews left on <a href="http://www.opentable.com"> Open Table </a>.
      He extract latent topics with a non-negative matrix factorization
      of the Tfidf bag of words built from the reviews.
      With this knowledge in hand, he can select relevant sentences
      in each review and assess its sentiment.
    </p>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}