{% extends "home.html" %}

{% block title %}Info | The Critic{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% block content %}
	<h1 class="cover-heading">Who is The Critic?</h1>
    <p class="lead">The Critic gathers his information from
      reviews left on <a href="http://www.opentable.com"> Open Table </a>.
      More information can be found 
      <a href="https://github.com/alix2015/the-critic.git">here</a>.
    </p>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}