{% extends "home.html" %}

{% block title %}Search | The Critic{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block header %}
	{{ super() }}
{% endblock %}
{% block content %}
	<h1 class="cover-heading">Ask the Critic</h1>
  <p class="lead">Choose from these restaurants</p>
  <p class="lead">
    <form class="form-inline" role="form" action="/topic" method="POST">
      <div class="form-group">
        <select class="form-control" role="form" action="/topic" 
        name="user_choice" method="POST">
          {%for rest in restos%}
          <option value={{rest[0]}}>{{rest[1]}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>

  </p>
{% endblock %}
{% block footer %}
	{{ super() }}
{% endblock %}